@value variables: "~modules/ui/variables.css";
@value alabaster-color, alto-color from variables;

.avatarWrapper {
  position: relative;
  margin-right: 10px;
}

.avatarWrapper:after {
  content: "";
  position: absolute;
  right: -12px;
  top: 13px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right:7px solid alabaster-color;
  z-index: 2;
}

.avatarWrapper:before {
  content: "";
  position: absolute;
  right: -11px;
  top: 13px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right:7px solid alto-color;
  z-index: 2;
}

.messageWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.messageBlock {
  width: calc(100% - 100px);
}

.message {
  box-sizing: border-box;
  padding: 10px 15px;
  border: 1px solid alto-color;
  background-color: alabaster-color;
  border-radius: 4px;
}

.date {
  font-size: 12px;
  margin: 10px 0 0 0;
}
