@value variables: "~modules/ui/variables.css";
@value lg-breakpoint, alabaster-color, alto-color from variables;

.infoBlock {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90px;
  padding: 10px 15px;
  border-bottom: 1px solid alto-color;
}

.infoBlockTitle {
  font-weight: bold;
  font-size: 14px;
  margin: 0 0 10px 0;
  text-align: center;
  text-transform: uppercase;
}

.infoBlockValue {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
  text-align: center;
}

@media (max-width: lg-breakpoint) {
  .infoBlock {
    padding: 10px 8px;
  }
}
